.gradle
.gradle/*
.idea
.idea/*
.settings
.settings/*
build
build/*
out
out/*
doc
doc/*
bin
bin/*
gen
gen/*
.classpath
gradle
gradle/*
gradle/*
gradlew
gradlew.bat
aligameboxlancher.iml
build.gradle
local.properties
magicsquarelauncher.iml
